$bg-main-light: #f2f5fa;
$color-main-dark1: #3a478f;
$color-main-light3: #627792;

$color-dark: #000000;
$color-light: #FFFFFF;

$bg-dark: #000000;
$bg-light: #FFFFFF;

$bg-grey: #4a4a4a;
$bg-middlegrey: #3e3e3e;
$bg-semigrey: #515151;
$bg-darkgrey: #292929;
$bg-lightgrey: #f8f5f2;

$bg-transparent-light: rgba(255,255,255,0.8);
$bg-transparent-middle: rgba(255,255,255,0.3);
$bg-transparent-gray: rgba(100,100,100,0.2);
$bg-transparent-dark: rgba(0,0,0,0.8);
